<h1>
  <%= @gallery.title %>
  <small>
    <%= link_to "Edit This Gallery", edit_gallery_path(@gallery.id) %>
    <%= link_to "Delete This Gallery", gallery_path(@gallery.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @gallery.image_url, class: 'pull-right' %></p>

  <p><strong>Artwork featured: </strong>
    <%= link_to @gallery.artwork.name, "/artworks/#{@gallery.artwork.id}" %>
  </p>


  <p><strong>Address:</strong> <%= @gallery.address %></p>


  <p><strong>Artists: </strong></p>

  <ul>
    <% @gallery.artists.each do |artist| %>
      <li><%= link_to artist.name, "/artists/#{artist.id}" %></li>
    <% end %>
  </ul>

  <h3>Add a Review</h3>

  <%= form_tag "/reviews", :method => :post do %>
    <%= label_tag :body, "What did you think?" %>
    <%= hidden_field_tag :gallery_id, @gallery.id %>
    
    <br>
    <%= text_area_tag :body, '', rows: 4, cols: 50 %>
    <br>
    <%= submit_tag "Add Review" %>
  <% end %>

  <h3>Press</h3>

  <p><strong>Jeff said:</strong>
    A pretty cool movie if you like boring nonsense.  The cinematography looked
    like a child made it, and the acting was amatuerish.  Other than, it was
    great!
  </p>

  <p><strong>Borja said:</strong>
    A great example of computer science and society at large!
  </p>

  <p><strong>Neil said:</strong>
    Gravitons, photons, and neutrons, oh my!  Putting aside the obvious problems
    with the scientific basis of the fiction in this movie, it wasn't too bad.
  </p>
</div>
