<h1>
  <%= @gallery.title %>
  <small>
    <%= link_to "Edit This Gallery", edit_gallery_path(@gallery.id) %>
    <%= link_to "Delete This Gallery", gallery_path(@gallery.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @gallery.image_url, class: 'pull-right' %></p>

  <p><strong>Artwork featured: </strong>
    <%= link_to @gallery.artwork.name, "/artworks/#{@gallery.artwork.id}" %>
  </p>


  <p><strong>Address:</strong> <%= @gallery.address %></p>


  <p><strong>Artists: </strong></p>

  <ul>
    <% @gallery.artists.each do |artist| %>
      <li><%= link_to artist.name, "/artists/#{artist.id}" %></li>
    <% end %>
  </ul>

</div>
 